doctype html
html
    head
        title= "Id and Css Classes"
    body
        h1#pageTitle Titre de la page
        p.big-para.
            Ce ci est quelque texte pour
            mon paragraphe

        .display-box

        #myOnlyDiv