<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Exemple d'utilisation des attributes</title>
  </head>
  <body>
    <input type="password" name="inpPwd" data-js="NOT OK!"/>
    <div class="my-div class1 class2 class3"></div><img src="myPhoto.png" alt="Ce ci ma photo"/>
    <div style="color:red;background-color:blue;"></div>
    <!-- doctype html-->
    <!--input(type="text" disabled)-->
    <!-- doctype transitional-->
    <input type="text" disabled="true"/>
  </body>
</html>