<!DOCTYPE html>
<html>
  <head> 
    <title>Mixins in Pug</title>
    <style>
      .comment {
          font-family : sans-serif;
          line-height : 1.5;
          padding : 10px;
          border : 1px solid #555;
          width : 250px
      }
      
      .date {
          font-size : 85%;
          text-align : right;
      }
      
      .author {
          font-size : 110%;
          font-weight : bold;
      }
      
      .text {
          font-size : 100%;
      }
    </style>
  </head>
  <body>
    <div class="comment">
      <div class="date">11/06/2020</div>
      <div class="author">Bruno</div>
      <div class="text">Ce cous est interessant</div>
    </div>
    <div class="comment">
      <div class="date">15/06/2020</div>
      <div class="author">Julien</div>
      <div class="text">C'est amusant</div>
    </div>
    <div class="comment"><em>(Publié par Admin)</em>
      <div class="date">01/06/2020</div>
      <div class="author">Alin</div>
      <div class="text">cool</div>
    </div>
    <div class="comment">
      <div class="date">30/06/2020</div>
      <div class="author">Bruce</div>
      <div class="text">Génial</div>
    </div>
  </body>
</html>