doctype html
html
    head
        title= "Titre de la page html"

    body
        h1 Bonjour à tous
        p. 
            Ce ci est un paragraphe
            et ce ci est une nouvelle ligne


        ul
            li Ce ci est item #1
            li Ce ci est item #2
            li Ce ci est item #3